@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

input:checked ~ .toggle {
  @apply translate-x-6;
}

.list:nth-child(4n + 1) {
  @apply bg-green-300;
}

.list:nth-child(4n + 2) {
  @apply bg-cyan-300;
}

.list:nth-child(4n + 3) {
  @apply bg-amber-300;
}

.list:nth-child(4n + 4) {
  @apply bg-red-400;
}

.text-shadow {
  text-shadow: black 0.05em 0.1em 0.2em;
}

.text-shadow:hover {
  text-shadow: none;
}
